[Unit]
Description=Run the moOde worker watchdog

[Timer]
OnBootSec=2min
OnUnitActiveSec=30s
AccuracySec=5s
Unit=moode-worker-watchdog.service

[Install]
WantedBy=timers.target
